<router-outlet></router-outlet>

<!-- <app-login-page> </app-login-page> -->

<!-- <app-admin-page> </app-admin-page> -->

<!-- <app-admin-dealer-inquiry></app-admin-dealer-inquiry> -->

<!-- <app-admin-orders></app-admin-orders> -->

<!-- <app-admin-info></app-admin-info> -->

<!-- <app-payment-page> </app-payment-page> -->

<!-- <app-dealer-page> </app-dealer-page> -->

<!-- <app-dealer-orders> </app-dealer-orders> -->

<!-- <app-send-mail> </app-send-mail> -->

<!-- <app-about-page> </app-about-page> -->
<!-- 
<app-admin-stock-control></app-admin-stock-control> -->

<!-- <app-views-orders> </app-views-orders> -->


